#brains-tools {
    display: block;
    margin: 10px auto 0px; /* Top: 10px, Left/Right: auto, Bottom: 5px */
    width: 80%;
    max-width: 500px; /* Adjust as needed */
}

/* Foundation Logo */
#logo-foundation {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}
