#VK-views {
    width: 100%;
    max-width: 1024px;
}

#shadow-man {
    width: 100%;
    max-width: 1024px;
}

#node-tests {
    width: 100%;
    max-width: 1024px;
}

#node-front {
    width: 100%;
    max-width: 1024px;
}
